Language:        Cpp
BasedOnStyle:    LLVM
AlignTrailingComments: true
BreakBeforeBraces: Linux
IndentWidth:     4
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 2
IndentCaseLabels: true
IndentCaseBlocks: true